body {
    font-family: 'Segoe UI', sans-serif;
    background: #121212;
    color: #f5f5f5;
    margin: 0;
}

.container {
    max-width: 1100px;
    margin: 40px auto;
    background: #1e1e1e;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}


h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 25px;

    color: #00e5ff;
    text-shadow: 0 0 10px rgba(0,229,255,0.6);
}



.summary-box {
    background: #1f1f1f;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
}


.card {
    background: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}


.badge {
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.high {
    background-color: #e74c3c;
}

.medium {
    background-color: #f39c12;
}

.low {
    background-color: #3498db;
}

.critical {
    background-color: #8e44ad;
}

.progress-bar {
    width: 100%;
    height: 14px;
    background-color: #333;
    border-radius: 10px;
    margin-top: 10px;
}

.progress-fill {
    height: 100%;
    background: linear-gradient(to right, #ff9800, #f44336);
    border-radius: 10px;
}


.dashboard {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.dashboard .card {
    flex: 1;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.critical-card { background-color: #8B0000; }
.high-card { background-color: #e74c3c; }
.medium-card { background-color: #f39c12; }
.low-card { background-color: #2ecc71; }
