<!DOCTYPE html>
<html>
<head>
    <title>Security Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Mobile App Security Report</h1>

    <div class="summary-box">
        <h2>Executive Security Summary</h2>

        <p><strong>Total Issues:</strong> {{ findings|length }}</p>
        <p><strong>Risk Score:</strong> {{ metadata.risk_score }}</p>
        <p><strong>Risk Level:</strong> {{ metadata.risk_level }}</p>

        <div class="progress-bar">
            <div class="progress-fill"
                style="width: {{ metadata.risk_percent }}%;">
            </div>
        </div>
    </div>

    <div class="dashboard">
        <div class="card critical-card">
            <h3>Critical</h3>
            <p>{{ findings | selectattr("severity", "equalto", "Critical") | list | length }}</p>
        </div>

        <div class="card high-card">
            <h3>High</h3>
            <p>{{ findings | selectattr("severity", "equalto", "High") | list | length }}</p>
        </div>

        <div class="card medium-card">
            <h3>Medium</h3>
            <p>{{ findings | selectattr("severity", "equalto", "Medium") | list | length }}</p>
        </div>

        <div class="card low-card">
            <h3>Low</h3>
            <p>{{ findings | selectattr("severity", "equalto", "Low") | list | length }}</p>
        </div>
    </div>



    <div class="card">
        <h3>APK Metadata</h3>

        <p><strong>Package:</strong> {{ metadata.package_name }}</p>
        <p><strong>Version Name:</strong> {{ metadata.version_name }}</p>
        <p><strong>Version Code:</strong> {{ metadata.version_code }}</p>
        <p><strong>Min SDK:</strong> {{ metadata.min_sdk }}</p>
        <p><strong>Target SDK:</strong> {{ metadata.target_sdk }}</p>
        <p><strong>SHA256:</strong> {{ metadata.sha256 }}</p>
    </div>


    {% for finding in findings %}
    <div class="card">

        <h3>{{ finding.type }}</h3>

        <span class="badge {{ finding.severity | lower }}">
            {{ finding.severity }}
        </span>

        <p><strong>Issue:</strong> {{ finding.issue }}</p>
        <p><strong>OWASP:</strong> {{ finding.owasp }}</p>
        <p><strong>Description:</strong> {{ finding.description }}</p>
        <p><strong>Remediation:</strong> {{ finding.remediation }}</p>

    </div>
    {% endfor %}

</div>

</body>
</html>